@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,600;1,600&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: "Poppins", sans-serif;
  background-color: rgb(238, 220, 220);
}
/* common css */
.container {
  max-width: 1200px;
  /* max-height: 800px; */
  margin: 0 auto;
  padding: 10px 30px;
  /* line-height: 1.5em; */
}
.primary-button {
  text-decoration: none;
  border: 1px solid white;
  border-radius: 20px;
  color: white;
  padding: 10px 20px;
  background: linear-gradient(45deg, rgb(233, 12, 104), rgb(196, 14, 75));
  font-weight: bold;
}
/* button span {
  padding-right: 20px;
} */
.section-title {
  text-align: center;
}
.section-title h2 {
  font-size: 25px;
  /* display: inline-block; */
  /* border-bottom: 2px solid #ff008e; */
  margin: 50px 0;
}
/* Header section start from here */
#home {
  margin-top: 40px;
  /* margin-bottom: 30px; */
}
nav {
  display: flex;
  justify-content: space-between;
  height: 80px;
  align-items: center;
}
.navigation {
  display: flex;
}
.navigation li {
  list-style: none;
  margin: 10px;
}
.navigation li a {
  text-decoration: none;
  color: black;
  padding: 15px 10px;
}
/* Banner Top section start from here */
.banner-top {
  height: calc(85vh - 80px);
  min-height: 500px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.banner-left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
.banner-left h1 {
  font-size: 45px;
  color: black;
}
.banner-left p {
  color: black;
  font-size: 18px;
  line-height: 1.5;
  margin: 20px 0;
}
.banner-right {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}
.banner-right img {
  border: 1px solid rgb(233, 227, 227);
  border-radius: 100%;
  padding: 10px;
}
/* Banner Top section end here */

/* Company Logo Section start from here */
#company-logo {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-gap: 30px;
  border-top: 1px solid rgba(233, 231, 231, 0.74);
  border-bottom: 1px solid rgba(233, 231, 231, 0.74);
  justify-content: center;
  align-items: center;
  padding: 20px 20px;
}
.logo img {
  margin: 0px 30px;
  object-fit: cover;
}
/* Company Logo Section end here */
/* Popular Collection section start from here */
.collection {
  display: grid;
  grid-gap: 30px;
  grid-template-columns: repeat(3, 1fr);
  justify-content: space-between;
  line-height: 1.5em;
  margin-bottom: 30px;
  /* margin: 0 auto; */
  /* align-items: center; */
  /* margin-top: 40px; */
}
.card {
  background-color: white;
  border-radius: 5px;
  width: 329px;
  height: 476px;
}
.card img {
  /* align-items: center; */
  margin: 15px 15px 10px 15px;
}
.card-content {
  margin-left: 15px;
}
.spacing {
  line-height: 1.5em;
}
.rating-section {
  font-size: 8px;
  margin-left: 15px;
}
.filled {
  color: goldenrod;
}
.unfilled {
  color: goldenrod;
}
.card p {
  font-size: 12px;
  color: gray;
}
.see-more {
  text-align: right;
}
.see-more a {
  text-decoration: none;
  color: mediumvioletred;
  font-size: 15px;
  margin-bottom: 50px;
}

/* Popular Collection section end here */
/* Banner Bottom start from here */
.banner-bottom {
  /* height: calc(100vh - 80px); */
  min-height: 500px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin: 0 auto;
  /* border: 1px solid gray; */
}
.banner-bottom-right {
  /* display: flex; */
  /* flex-direction: column; */
  /* justify-content: center; */
  /* align-items: flex-start; */
}
.banner-bottom-right h1 {
  font-size: 45px;
  color: black;
}
.banner-bottom-right p {
  color: black;
  font-size: 18px;
  line-height: 1.5;
  margin: 20px 0;
}
.banner-bottom-right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
.banner-bottom-left img {
  /* border: 1px solid rgb(233, 227, 227); */
  /* border-radius: 100%; */
  padding: 50px 50px;
  width: 100%;
  margin: 38px -88px 5px -90px;
}
/* Banner Bottom end here */
/* footer section start from here */
footer {
  /* display: flex; */
  margin-top: 60px;
  background-color: #0a0826;
  height: 200px;
  text-align: center;
  color: white;
  /* justify-content: center; */
}
/* .text-section h3 {
  font-weight: 30px;
  font-size: 5%;
} */
.social-media a {
  /* justify-content: center; */
  /* align-items: center; */
  padding: 30px 10px;
  color: white;
}
/* footer section end here */
