@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,600;1,600&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: "Poppins", sans-serif;
  background-color: rgb(238, 220, 220);
}
/* common css */
.container {
  max-width: 1200px;
  /* max-height: 800px; */
  margin: 0 auto;
  padding: 10px 30px;
  /* line-height: 1.5em; */
}
.primary-button {
  text-decoration: none;
  border: 1px solid white;
  border-radius: 4px;
  color: white;
  padding: 10px 20px;
  background: linear-gradient(45deg, rgb(233, 12, 104), rgb(196, 14, 75));
  font-weight: bold;
}

/* button span {
  padding-right: 20px;
} */
.section-title {
  text-align: center;
}
.section-title h2 {
  font-size: 25px;
  margin: 50px 0;
}
/* Header section start from here */
#home {
  margin-top: 40px;
}
.menu-title {
  padding: 5px 10px;
}
.menu-title:hover {
  background: linear-gradient(45deg, rgb(233, 12, 104), rgb(196, 14, 75));
  padding: 5px 10px;
  color: white;
  transition: width 5s, height 5s, transform 5s;
  border-radius: 4px;
}
nav {
  display: flex;
  justify-content: space-between;
  height: 80px;
  align-items: center;
}
.navigation {
  display: flex;
  padding: 5px;
}

.navigation li {
  list-style: none;
  margin: 10px;
}
.navigation li a {
  text-decoration: none;
  color: black;
  padding: 15px 10px;
}
.hover-items:hover {
  background: linear-gradient(45deg, rgb(233, 12, 104), rgb(196, 14, 75));
  padding: 5px 10px;
  color: white;
  transition: width 5s, height 5s, transform 5s;
  border-radius: 4px;
}
/* Banner Top section start from here */
.banner-top {
  height: calc(85vh - 80px);
  min-height: 500px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.banner-left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
.banner-title {
  padding: 5px;
}
.banner-left h1 {
  font-size: 45px;
  color: black;
}
.banner-left p {
  color: black;
  font-size: 18px;
  line-height: 1.5;
  margin: 20px 0;
}
.banner-right {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}
.banner-right img {
  border: 1px solid rgb(206, 198, 198);
  border-radius: 100%;
  padding: 10px;
  transition: width 5s, height 5s, transform 10s;
  box-shadow: 1px 1px 5px gray;
}
.banner-right img:hover {
  background: linear-gradient(45deg, rgb(233, 12, 104), rgb(196, 14, 75));
}
/* Banner Top section end here */

/* Company Logo Section start from here */
#company-logo {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-gap: 30px;
  border-top: 1px solid rgba(192, 178, 178, 0.74);
  border-bottom: 1px solid rgba(192, 178, 178, 0.74);
  justify-content: center;
  align-items: center;
  padding: 20px 20px;
}
#company-logo:hover {
  border-top: 1px solid rgb(233, 12, 104);
  border-bottom: 1px solid rgb(233, 12, 104);
}
.logo img {
  margin: 0px 30px;
  object-fit: cover;
}
/* Company Logo Section end here */
/* Popular Collection section start from here */
.collection {
  display: grid;
  grid-gap: 30px;
  grid-template-columns: repeat(3, 1fr);
  justify-content: space-between;
  line-height: 1.5em;
}
.card {
  background-color: white;
  border-radius: 5px;
  width: 329px;
  height: 476px;
  box-shadow: 5px 7px 20px gray;
}
.card:hover {
  border: 2px solid rgb(233, 12, 104);
}
.card img {
  margin: 15px 15px 10px 15px;
}
.card-content {
  margin-left: 15px;
}
.spacing {
  line-height: 1.5em;
}
.rating-section {
  font-size: 8px;
  margin-left: 15px;
}
.filled {
  color: goldenrod;
}
.unfilled {
  color: goldenrod;
}
.card p {
  font-size: 12px;
  color: gray;
}
.see-more,
a {
  text-decoration: none;
  color: mediumvioletred;
  font-size: 15px;
}
.see-more,
a:hover {
  border: 1px solid gray;
}

/* Popular Collection section end here */
/* Banner Bottom start from here */
.banner-bottom {
  /* height: calc(100vh - 80px); */
  min-height: 500px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin: 0 auto;
  /* border: 1px solid gray; */
}
.banner-bottom-right h1 {
  font-size: 45px;
  color: black;
}
.banner-bottom-right p {
  color: black;
  font-size: 18px;
  line-height: 1.5;
  margin: 20px 0;
}
.banner-bottom-right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
.banner-bottom-left img {
  border: 3px solid rgb(255, 255, 255);
  /* border-radius: 100%; */
  /* padding: 50px 50px; */
  width: 100%;
  margin: 38px -88px 5px -33px;
  box-shadow: 1px 1px 10px gray;
}
.banner-bottom-left img:hover {
  border: 2px solid rgb(233, 12, 104);
}
/* Banner Bottom end here */
/* footer section start from here */
footer {
  /* display: flex; */
  margin-top: 60px;
  background-color: #0a0826;
  height: 200px;
  text-align: center;
  color: white;
  padding-top: 50px;
}
.social-media a {
  padding: 30px 10px;
  color: white;
}
/* footer section end here */

/* Media Queries start from here */
@media screen and (max-width: 500px) {
  .cart-items {
    width: 50%;
    display: flex;
    justify-content: left;
    align-items: flex-end;
  }
  .card-icon {
    width: 50%;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    justify-content: center;
    align-items: center;
  }
  .banner-left h1 {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    align-items: center;
  }
  .banner-right img {
    width: 50%;
    /* height: 50%; */
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
  }
  .navigation {
    display: none;
  }
  .logos {
    width: 50%;
    margin-bottom: 700px;
    display: flex;
    flex-direction: column;
    grid-gap: 50px;
    grid-template-rows: repeat(1, 1fr);
    /* grid-template-columns: repeat(1, 1fr); */
    justify-content: center;
    align-items: center;
  }
  .collection,
  .card {
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin-bottom: 50px;
    grid-template-columns: repeat(1, 1fr);
    justify-content: center;
    align-items: center;
  }
  .banner-bottom-left {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
  }
  .banner-bottom-left img {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    gap: 30px;
    grid-template-columns: repeat(1, 1fr);
    justify-content: center;
    align-items: center;
  }
}
@media screen and (max-width: 900px) {
  .card-icon {
    /* width: 50%; */
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    justify-content: center;
    align-items: center;
  }
  /* .banner-left h1 {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    align-items: center;
  } */
  .banner-right img {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
  }
  .navigation {
    display: none;
  }
  .logos {
    width: 50%;
    margin-bottom: 700px;
    display: flex;
    flex-direction: column;
    grid-gap: 50px;
    grid-template-rows: repeat(1, 1fr);
    /* grid-template-columns: repeat(1, 1fr); */
    justify-content: center;
    align-items: center;
  }
  .collection,
  .card {
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin-bottom: 50px;
    grid-template-columns: repeat(1, 1fr);
    justify-content: center;
    align-items: center;
  }
  .banner-bottom-left {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
  }
  .banner-bottom-left img {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    gap: 30px;
    grid-template-columns: repeat(1, 1fr);
    justify-content: center;
    align-items: center;
  }
}
/* Media Queries end here */
